<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isea533.mybatis.mapper.CountryMapper">

  <cache type="com.isea533.mybatis.cache.RedisCache"/>
  <!--<cache-ref namespace=""-->
  <resultMap id="BaseResultMap" type="com.isea533.mybatis.model.Country">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="countryname" jdbcType="VARCHAR" property="countryname" />
    <result column="countrycode" jdbcType="VARCHAR" property="countrycode" />
  </resultMap>

  <select id="selectByCountryQueryModel" resultMap="BaseResultMap" useCache="true">
    select id,countryname,countrycode from country
    <where>
      <if test="countryname != null and countryname != ''">
        countryname like concat('%',concat(#{countryname}, '%'))
      </if>
      <if test="countrycode != null and countrycode != ''">
        and countrycode like concat('%',concat(#{countrycode}, '%'))
      </if>
      <if test="id != null">
        and id = #{id}
      </if>
    </where>

  </select>

  <insert id="save">
     insert into country(id, countryname, countrycode) values
      <!--<foreach collection="list1" item="item" index="index" separator=",">-->
        <!--(-->
          <!--<if test="item.id != null">#{item.id}</if> ,#{item.countryname}, #{item.countrycode}-->
        <!--)-->
      <!--</foreach>-->
  </insert>

  <select id="findByEntity" parameterType="Country" resultType="Country">
    select id, countryname, countrycode from country
    <where> <if test="id != null">
    and id = #{id}
  </if>
    <if test="countryname != null">
      and countryname = #{countryname}
    </if>
    <if test="countrycode != null">
      and countrycode = #{countrycode}
    </if>
    </where>
  </select>

  <update id="updateByEntity" parameterType="Country">
    update country set countryname = #{countryname} where id = #{id}
  </update>
</mapper>